body {
    padding: 0;
    margin: 0;
    background-color: #f5f5f5;
}

section {
    height: 100vh;
}

.btn,
.btn-big,
.button-container,
section {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 590px;
    box-shadow: 0px 6px 17px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    background-color: #f5f5f5;
}

.button-container {
    flex-direction: row;
    flex-wrap: wrap;
}

#visor {
    background-color: #282A36;
    height: 115px;
    margin-bottom: 20px;
}

.btn,
.btn-big {
    height: 80px;
    margin: 4px;
    border-radius: 10px;
    box-shadow: 0px 6px 17px 3px rgba(0, 0, 0, 0.03);

}

.btn:hover,
.btn-big:hover {
    transition: box-shadow .3s;
    box-shadow: 0px 6px 17px 3px rgba(0, 0, 0, 0.116);
    cursor: pointer;
}

.btn {
    width: 80px;
}

.btn-big {
    width: 170px;
}

.differ {
    background-color: #6272A436;
}

.res {
    background-color: #50FA7B5C;
}

.del {
    background-color: #FF55556B;
}

.warning {
    background-color: #F1FA8C69;
}

#textNode {
    width: 89%;
    height: 60%;
    background-color:#282A36;
    color: white;
    font-size: 34px;
    border-style: none;
    padding: 25px;
}
